name: workflow.yml

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/spring-repo/paqueteria-api:latest .

      - name: Push Docker image
        run: |
          docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/spring-repo/paqueteria-api:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy paqueteria-api \
            --image us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/spring-repo/paqueteria-api:latest \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated